header {
    background-color: $bgColor;
    display: flex;

    .navtop {
        
    }

    i {
        color: $elementColor;
        margin-right: $navSpacing / 2;
    }

    a {
        color: lightgrey;
        text-decoration: none;
        margin-right: $navSpacing;

        &:hover {
            color: $whiteTxt;
        }
    }
}
