header {
    background-color: $bgColor;
    padding-top: $navSpacing;

    .navtop {
        text-align: right;
        a {
            color: lightgrey;
            text-decoration: none;
            margin-right: $navSpacing;

            &:hover {
                color: $whiteTxt;
            }
        }
    }

    i {
        color: $elementColor;
        margin-right: $navSpacing / 2;
    }

    .navdown {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: $navSpacing * 1.6;

        a, a:hover {
            color: $whiteTxt;
            text-decoration: none;
            margin: $navSpacing * 2;
        }
    }


}
