h2 {
    font-size: $navSpacing * 3;

}

h2, h3, li {
    color: $whiteTxt;
}

h3 {
    font-size: $navSpacing * 2;
}

h4 {
    font-size: $navSpacing * 1.6;
}

.jumbotron {
    background-image: url('https://www.painterartist.com/static/ptr/product_content/painteressentials/7/hero-painteressentials-7.jpg');
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbolist i {
    color: grey;
}

.download-button {
    display: flex;
    // justify-content: space-between;
    line-height: 0.2;
    padding: $navSpacing;
    width: 45%;
    color: $whiteTxt;
    background-color: grey;
}

.download-button i {
    height: 100%;
    width: 100%;
}

.download-button-txt {
    border-right: 1px solid $whiteTxt;
}

.pricebrick {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: $bgColor;
    padding: $navSpacing * 2 $navSpacing;
    height: 100%;
    margin-bottom: 0;
}

.pricebrick-header {
    display: flex;
    justify-content: space-between;
}

.pricebrick button {
    color: $whiteTxt;
    background-color: $elementColor;
    margin-bottom: $navSpacing * 2;
    width: 50%;
    padding: $navSpacing;
}

.pricebrick-footer {
    padding: $navSpacing 0;
    line-height: 0.8;
    background-color: $whiteTxt;
    width: 100%;
    p {
        font-size: $navSpacing * 0.9;
    }
}
