@import "partials/variables";
@import "partials/mixins";
@import "partials/commons";
@import "partials/header";



* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.jumbotron {
    background-image: url('https://www.painterartist.com/static/ptr/product_content/painteressentials/7/hero-painteressentials-7.jpg');
    object-fit: contain;    
    background-repeat: no-repeat;
}
