@import "partials/variables";
@import "partials/mixins";
@import "partials/commons";
@import "partials/header";
@import "partials/jumbotron";
@import "partials/footer";

#subnav {
    background-color: lightgrey;
    margin: 0;
    ul li {
        display: inline-block;
        padding: $navSpacing * 2;
        a {
            text-decoration: none;
            font-size: $navSpacing * 2;
            color: $bgColor;

            &:hover {}
        }
    }
}


#intro {
    padding-top: $navSpacing * 8;
    background-image: url('https://www.painterartist.com/static/ptr/product_content/painteressentials/7/intro.jpg');
    h2, p {

    }
    p {
        color: $whiteTxt;
        font-size: $navSpacing * 1.8;
    }
    h2::first-letter, p::first-letter {
        text-transform: capitalize;
    }
}
